@{
    Layout = null;
}
@using Graduate_Council.Model
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
    <link href="../../Res/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../../Res/Admin/js/jquery.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>    
    <script src="../../Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".click").click(function () {
            $(".tip").fadeIn(200);
        });

        $(".tiptop a").click(function () {
            $(".tip").fadeOut(200);
        });

        $(".sure").click(function () {
            $(".tip").fadeOut(100);
        });

        $(".cancel").click(function () {
            $(".tip").fadeOut(100);
        });
        $(".deleteNews").click(function () {
            deleteNew($(this).attr("ids"), $(this));
        })

    });    
    function deleteNew(id, control) {
        if (confirm("确定要删除这条信息吗？")) {
            $.post("/Admin/DeleteNewInfo", { "id": id }, function (data) {
                if (data == "ok") {
                    $(control).parent().parent().remove();
                    alert("删除成功");
                }
                else {
                    alert("删除失败");
                }
            })
        }
    }
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>新闻管理</li>
    <li>研会动态</li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
        <li class="click"><span><img src="/images/t01.png" /></span><a href="/Admin/AddNewInfo" target="_self">添加新闻</a></li>
        </ul>
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>编号<i class="sort"><img src="/images/px.gif" /></i></th>
        <th>标题</th>
        <th>来源</th>
        <th>籍贯</th>
        <th>发布时间</th>
        <th>是否审核</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        @foreach (NewInfo newInfo in (List<NewInfo>)ViewData["list"])
        {
        <tr>
        <td>@newInfo.Id</td>
        <td>@newInfo.Title</td>
        <td>@newInfo.Author</td>
        <td>江苏南京</td>
        <td>@newInfo.SubDateTime</td>
        <td>已审核</td>
        <td><a href="/Admin/EditNew?Id=@newInfo.Id" class="tablelink">查看</a>     <a href="javascript:void(0)" class="deleteNews" ids="@newInfo.Id"> 删除</a></td>
        </tr>
        } 
                
        </tbody>
    </table>
    
   
    <div class="pagin">
    	<div class="message">共<i class="blue">@ViewData["pageCount"]</i>页，当前显示第&nbsp;<i class="blue">@ViewData["pageIndex"]&nbsp;</i>页</div>
        <ul class="paginList">
        <li class="paginItem"><a href="?PageIndex=@ViewData["pagePre"]"><span class="pagepre"></span></a></li>
        @for (int i = 1; i <= (int)ViewData["pageCount"]; i++)
        {
            if (i == (int)ViewData["pageIndex"])
            {            
                <li class="paginItem current"><a href="javascript:void(0)">@i</a></li>
            }
            else
            {
                <li class="paginItem"><a href="?PageIndex=@i">@i</a></li> 
            }        
        }
        <li class="paginItem"><a href="?PageIndex=@ViewData["pageNext"]"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
    
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="/images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    
    
    
    </div>
    
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>

