@{
    Layout = null;
}
@using Graduate_Council.Model
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户管理</title>
    <link href="../../Res/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../../Res/Admin/js/jquery.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>    
    <script src="../../Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".click").click(function () {
            window.location.href = "/Admin/AddUser";
        });
        $(".deleteNews").click(function () {
            deleteNew($(this).attr("ids"), $(this));
        })

    });
    function deleteNew(id, control) {
        if (confirm("确定要删除这个用户吗？")) {
            $.post("/Admin/DeleteUser", { "id": id }, function (data) {
                if (data == "ok") {
                    $(control).parent().parent().remove();
                    alert("删除成功");
                }
                else {
                    alert("删除失败");
                }
            })
        }
    }
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li>用户管理</li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">
    
    	<ul class="toolbar">
        <li class="click"><span><img src="/images/t01.png" /></span><a href="/Admin/AddUser" target="_self">添加用户</a></li>
        </ul>
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>编号<i class="sort"><img src="/images/px.gif" /></i></th>
        <th>用户名</th>
        <th>密码</th>
        <th>超级用户</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        @if (ViewData["list"] != null)
        {
        foreach (UserInfo userInfo in (List<UserInfo>)ViewData["list"])
        {
        <tr>
        <td>@userInfo.Id</td>        
        <td>@userInfo.Name</td>
        <td>******</td>
        <td>
        @if(userInfo.Admin)
        {
            <lable>是</lable>
        }
        else
        {
            <lable>否</lable>
        }</td>
        <td><a href="/Admin/EditUser?Id=@userInfo.Id" class="tablelink">修改密码</a>     <a href="javascript:void(0)" class="deleteNews" ids="@userInfo.Id"> 删除</a></td>
        </tr>
        } 
        }
                
        </tbody>
    </table>
    
   
    <div class="pagin">
    	<div class="message">共<i class="blue">@ViewData["pageCount"]</i>页，当前显示第&nbsp;<i class="blue">@ViewData["pageIndex"]&nbsp;</i>页</div>
        <ul class="paginList">
        <li class="paginItem"><a href="?PageIndex=@ViewData["pagePre"]"><span class="pagepre"></span></a></li>
        @for (int i = 1; i <= (int)ViewData["pageCount"]; i++)
        {
            if (i == (int)ViewData["pageIndex"])
            {            
                <li class="paginItem current"><a href="javascript:void(0)">@i</a></li>
            }
            else
            {
                <li class="paginItem"><a href="?PageIndex=@i">@i</a></li> 
            }
        }
        <li class="paginItem"><a href="?PageIndex=@ViewData["pageNext"]"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
</body>

</html>

