@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using Graduate_Council.Model;
  <div class="base"> 
   <div class="container"> 
    <div class="content"> 
      <div class="row">
        <div class="home-left-banner"> 
        <div id="myFocus"> 
         <div class="pic"> 
          <ul class="focus"> 
           <li><a href="javascript:;"><img src="/images/banner/banner1.png" thumb="" text="" /></a></li> 
           <li><a href="javascript:;"><img src="/images/banner/banner4.png" thumb="" text="" /></a></li> 
           <li><a href="javascript:;"><img src="/images/banner/banner5.png" thumb="" text="" /></a></li> 
          </ul> 
         </div> 
        </div> 
       </div> 
      </div>
     <div class="row"> 
      <div class="home-left"> 

       <div class="home-floor">
        <div class="home-box">
        <div class="title" style="color:#D86B21;"><img src="/images/icon/new32.png" />信息前沿</div>
        <table class="list-table">
        @foreach (NewInfo newInfo in (List<NewInfo>)ViewData["list1"])
        {
          <tr>
            <th><a href="/Home/DisplayNews?Id=@newInfo.Id&&Name=FrontNews">@newInfo.Title</a></th>
            <td>@newInfo.SubDateTime.ToShortDateString()</td>       
          </tr>
        }
        </table>
        </div>
        <div class="home-box" style="margin-left:20px;">

        <div class="title" style="color:#5E9A33;"><img src="/images/icon/mphone32.png" />通知公告</div>
        <table class="list-table">
        @foreach (NewInfo newInfo in (List<NewInfo>)ViewData["list2"])
        {
          <tr>
            <th><a href="/Home/DisplayNews?Id=@newInfo.Id&&Name=NoticeNews">@newInfo.Title</a></th>
            <td>@newInfo.SubDateTime.ToShortDateString()</td>       
          </tr>
        }
        </table>
        </div>
        </div>

       <div class="home-floor">
        <div class="home-box">
        <div class="title" style="color:#2B6377;"><img src="/images/icon/pictures32.png" />校园油记</div>
        <table class="list-table">
       @foreach (NewInfo newInfo in (List<NewInfo>)ViewData["list3"])
        {
          <tr>
            <th><a href="/Home/DisplayNews?Id=@newInfo.Id&&Name=CampusEssay">@newInfo.Title</a></th>
            <td>@newInfo.SubDateTime.ToShortDateString()</td>       
          </tr>
        }
        </table>
        </div>
        <div class="home-box" style="margin-left:20px;">

        <div class="title" style="color:#6C98E3;"><img src="/images/icon/diagram32.png" />研会动态</div>
        <table class="list-table">
        @foreach (NewInfo newInfo in (List<NewInfo>)ViewData["list4"])
        {
          <tr>
            <th><a href="/Home/DisplayNews?Id=@newInfo.Id&&Name=CouncilDynamicNews">@newInfo.Title</a></th>
            <td>@newInfo.SubDateTime.ToShortDateString()</td>
          </tr>
        }
        </table>
        </div>
        </div>

       <div class="home-floor">
        <div class="home-box">
        <div class="title" style="color:#3B8AD6;"><img src="/images/icon/info32.png" />分会动态</div>
        <table class="list-table">
          @foreach (NewInfo newInfo in (List<NewInfo>)ViewData["list5"])
        {
          <tr>
            <th><a href="/Home/DisplayNews?Id=@newInfo.Id&&Name=BranchNews">@newInfo.Title</a></th>
            <td>@newInfo.SubDateTime.ToShortDateString()</td>
          </tr>
        }
        </table>
        </div>
        <div class="home-box" style="margin-left:20px;">

        <div class="title" style="color:#D86B21;"><img src="/images/icon/statistics32.png" />就业信息</div>
        <table class="list-table">
          @foreach (NewInfo newInfo in (List<NewInfo>)ViewData["list6"])
        {
          <tr>
            <th><a href="/Home/DisplayNews?Id=@newInfo.Id&&Name=JobNews">@newInfo.Title</a></th>
            <td>@newInfo.SubDateTime.ToShortDateString()</td>
          </tr>
        }
        </table>
        </div>
        </div>
       </div>
      <div class="home-right">
        <div class="home-right-otherfun">
          <div class="home-right-tips">
          <h3>欢迎投稿</h3>
          <p>信息前沿稿件，收录有稿费的哦！投稿邮箱： swpugsu@163.com</p>
          </div>
        </div>
        <div class="home-right-otherfun" style="margin-bottom:0px;">
       <iframe width="100%" height="600" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=600&fansRow=1&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=3860526566&verifier=826f0ad7&dpc=1"></iframe>
       </div>
      </div> 
     </div> 
    </div> 
   </div> 
  </div>